.boat {
    width: 15%;
    position: absolute;
    top: -2%;
    left: 8%;
}

.school-fish {
    width: 15%;
    transform: rotate(-5deg);
    position: absolute;
    right: 5%;
    top: -5%;
    opacity: 0.85;
}

.squid {
    width: 15%;
    position: absolute;
    top: 50%;
    left: 15%;
}

.angler {
    width: 8%;
    position: absolute;
    bottom: 40%;
    right: 5%;
    opacity: 0;
}