.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10rem 5rem 10rem 5rem;
}

.intro-title {
    font-size: 4.7rem;
    font-weight: bold;
    width: 50%;
    color: rgb(51, 51, 51);
    line-height: 6.5rem;
}

.intro-description {
    color: rgb(114, 114, 114);
    width: 45%;
    line-height: 2.7rem;
    font-size: 1.5rem;
    font-weight: 350;
}



