.entire-project-layout {
    margin: 0 auto;
    padding: 5rem;
    font-family: 'Heebo', sans-serif;
    height: 125vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 10;
}

.project-section-title {
    font-size: 5rem;
    font-weight: bold;
    color: rgb(51, 51, 51);
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
    opacity: 0;
}

.line {
    padding: 0;
    margin-bottom: 7rem;
    width: 0;
}

.animate-gif,
.animate-info {
    opacity: 0;
}

.gif-info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-bottom: 150px;
}

.GIF-card {
    height: 60rem;
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.bigger-GIF-card {
    height: 60rem;
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.demo-video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 30px;
}

@media (max-width: 1050px) {
    .bigger-GIF-card {
        height: 50rem;
        width: 50rem;
    }
}

@media (max-width: 950px) {
    .GIF-card {
        height: 50rem;
        width: 30rem;
    }

    .bigger-GIF-card {
        height: 50rem;
        width: 30rem;
    }
}

@media (max-width: 700px) {
    .entire-project-layout {
        height: 200vh;
    }

    .gif-info-section {
        flex-direction: column;
        gap: 10rem;
    }

    .bigger-GIF-card {
        height: 50rem;
        width: 50rem;
    }
}

@media (max-width: 550px) {
    .entire-project-layout {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .bigger-GIF-card {
        height: 50rem;
        width: 30rem;
    }
}