.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
}

.project {
    text-decoration: none;
    padding: 25px 15px 25px 15px;
    border-radius: 10px;
    transition: background-color 0.35s;
    width: 270px;
    height: 210px;
}

.project:hover {
    background-color: #f1f1f1;
}

.project-icon {
    border-radius: 10px;
    width: 40px;
    margin-bottom: 20px;
}

.project-title {
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
}

.project-description {
    color: rgb(148, 148, 148);
    margin-bottom: 20px;
}

.project-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(51, 51, 51);
    transition: color 0.15s;
}

.project-link-icon {
    width: 20px;
    margin-right: 20px;
}

.project-link:hover,
.project-link-icon:hover {
    color: rgb(12, 153, 132);
}