.project-section,
.tunnelman,
.sdzoo,
.codebrown,
.covid19,
.youtube {
    margin: 0 auto;
    padding: 50px;
    font-family: 'Heebo', sans-serif;
    height: 125vh;
}

.tunnelman,
.sdzoo,
.codebrown,
.covid19,
.youtube {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.tunnelmanC {
    background-color: #00acb8;
}

.tunnelman-outer {
    background-color: #8fbfff;
}

.tunnelman-inner {
    background-color:white;
    border-color: #131f20;
}

.sdzooC {
    background-color: #007533;
}

.sdzoo-outer {
    background-color: #75eba8;
}

.sdzoo-inner {
    background-color: white;
    border-color: #15231b;
}

.codebrownC {
    background-color: #a63a0c;
}

.codebrown-outer {
    background-color: #f3d354;
}

.codebrown-inner {
    background-color: white;
    border-color: #f3ab54;
}

.covid19C {
    background-color: #d23737;
}

.covid19-outer {
    background-color: #dea66d;
}

.covid19-inner {
    background-color: white;
    border-color: #360c0c;
}

.youtubeC {
    background-color: #f9bebe;
}

.youtube-outer {
    background-color: #efa357;
}

.youtube-inner {
    background-color: white;
    border-color: #2f0404;
}

.project-section-title {
    font-size: 75px;
    color: #FFFFFF;
    text-shadow: 3px 5px 2px #474747, 2px 2px 2px rgba(206, 89, 55, 0);
    margin-bottom: 30px;
    margin-top: 30px;
}

.line {
    padding: 0;
    margin-bottom: 50px;
    width: 0;
}

.project-section-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 150px;
}

.outer-gif-card {
    height: 600px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: -12px 11px 16px 0px rgba(0, 0, 0, 0.3);
}

.inner-gif-card {
    border-style: solid;
    border-width: 7px;
    height: 575px;
    width: 375px;
    border-radius: 40px;
}

.outer-info-card {
    height: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 12px 11px 16px 0px rgba(0, 0, 0, 0.3);
}

.inner-info-card {
    border-style: solid;
    border-width: 7px;
    height: 575px;
    width: 575px;
    border-radius: 40px;
}

.project-sec-desc {
    padding: 20px;
}

.demo {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
}