.bio-container {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.bio-content {
    flex: 1;
    margin-left: 50px;
}

.bio-profile-picture {
    /* width: 350px;
    margin-left: 50px; */
    margin-right: 50px;
}

.logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.bio-icon {
    width: 80px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.bio-title {
    font-size: 42px;
    font-weight: bold;
    width: 425px;
    margin-bottom: 30px;
}

.bio-description {
    color: gray;
    width: 475px;
    line-height: 25px;
    margin-bottom: 30px;
}

.bio-pic {
    width: 300px;
    border-radius: 50px;
}

.social-links-icon {
    width: 30px;
    border-radius: 15px;
}