.title {
    font-size: 4.5rem;
    font-weight: bold;
    width: 55rem;
    color: rgb(51, 51, 51);
    line-height: 5.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 10rem;
}

.desc {
    color: rgb(114, 114, 114);
    width: 100%;
    line-height: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 350;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 100rem; */
    width: min(100rem, 100%);
    height: 60rem;
    box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.19);
    border-radius: 1rem;

    margin: 10rem 5rem;
    position: relative;
}

.calico {
    position: absolute;
    width: 5.8rem;
    top: -5rem;
    left: 12rem;
}

.tennis-ball {
    position: absolute;
    width: 3rem;
    left: 21rem;
    top: -1.6rem;
}

.bg-side {
    width: 50%;
    height: 100%;
    background-color: #10769e;
    background: url("../../resources/images/mountain.jpg");
    background-size: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.form-side {
    width: 50%;
    height: 100%;
    background-color: #FBD8C2;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

form {
    margin-top: 15%;
    margin-left: 10%;
}

h3 {
    color: #ff6201b7;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
}

*:focus {
    outline: none;
}

form .name:hover,
form .email:hover,
form .subject:hover,
form textarea:hover {
    border: 2px solid rgb(218, 218, 218);
}

form .name, form .email, form .subject, form textarea {
    width: 17.5rem;
    height: 3.2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 2px solid rgba(248, 246, 246, 0.733);
    border-radius: 4px;
    transition: border 0.25s;
}

form .subject {
    width: 37.1rem;
}

form textarea {
    width: 37.2rem;
    height: 225px;
    font-family: 'Heebo', sans-serif;
}

form button {
    width: 12.5rem;
    height: 3.5rem;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    background-color: #ff6201b7;
    cursor: pointer;
    transition: opacity 0.25s;
}

form button:hover {
    opacity: 0.8;
}