.root-container {
    width: 1100px;
    height: 600px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.calico {
    position: absolute;
    width: 58px;
    top: -50px;
    left: 120px;
}

.tennis-ball {
    position: absolute;
    width: 30px;
    left: 210px;
    top: -16px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.19);
    border-radius: 10px;
}

.bg-side {
    width: 50%;
    height: 100%;
    background-color: #10769e;
    background: url("../../images/mountain.jpg");
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-side {
    width: 50%;
    height: 100%;
    background-color: #FBD8C2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

form {
    margin-top: 15%;
    margin-left: 10%;
}

h3 {
    color: #ff6201b7;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

*:focus {
    outline: none;
}

form .name:hover,
form .email:hover,
form .subject:hover,
form textarea:hover {
    border: 2px solid rgb(218, 218, 218);
}

form .name {
    width: 175px;
    height: 32px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid rgba(248, 246, 246, 0.733);
    border-radius: 4px;
    transition: border 0.25s;
}

form .email {
    width: 175px;
    height: 32px;
    margin-bottom: 10px;
    border: 2px solid rgba(248, 246, 246, 0.733);
    border-radius: 4px;
    transition: border 0.25s;
}

form .subject {
    display: block;
    width: 372.5px;
    height: 32px;
    margin-bottom: 10px;
    border: 2px solid rgba(248, 246, 246, 0.733);
    border-radius: 4px;
    transition: border 0.25s;
}

form textarea {
    width: 374.5px;
    height: 225px;
    display: block;
    margin-bottom: 10px;
    border: 2px solid rgba(248, 246, 246, 0.733);
    border-radius: 4px;
    transition: border 0.25s;
}

form button {
    width: 125px;
    height: 35px;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    background-color: #ff6201b7;
    cursor: pointer;
    transition: opacity 0.25s;
}

form button:hover {
    opacity: 0.8;
}