.title {
    font-size: 4.5rem;
    font-weight: bold;
    width: 30%;
    color: rgb(51, 51, 51);
    line-height: 5.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 10rem;
}

.desc {
    color: rgb(114, 114, 114);
    width: 78%;
    line-height: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 350;
}

.calico {
    position: absolute;
    width: 5.8rem;
    top: -5rem;
    left: 12rem;
}

.tennis-ball {
    position: absolute;
    width: 3rem;
    left: 21rem;
    top: -1.6rem;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 60rem;
    box-shadow: -7px 10px 5px 0px rgba(0, 0, 0, 0.19);
    border-radius: 1rem;

    margin: 10rem 5rem;
    position: relative;
}

.bg-side {
    width: 100%;
    height: 100%;
    background-color: #10769e;
    background: url("../../resources/images/mountain.jpg");
    background-size: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.form-side {
    width: 100%;
    height: 100%;
    background-color: #FBD8C2;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 75%;
}

h3 {
    color: #ff6201b7;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    align-self: start;
}

*:focus {
    outline: none;
}

form .subject,
form textarea {
    width: 100%;
    height: 3.2rem;
    margin-bottom: 2%;
    border: 2px solid rgba(248, 246, 247, 0.733);
    border-radius: 4px;
    transition: border 0.25s;
    font-family: 'Heebo', sans-serif;
}

form textarea {
    height: 80%;
}

form .name,
form .email {
    width: 100%;
    height: 3.2rem;
    margin-bottom: 2%;
    border: 2px solid rgba(248, 246, 247, 0.733);
    border-radius: 4px;
    transition: border 0.25s;
    font-family: 'Heebo', sans-serif;
}

.name-email-box {
    width: 102%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
}

form .name:hover,
form .email:hover,
form .subject:hover,
form textarea:hover {
    border: 2px solid rgb(218, 218, 218);
}

form button {
    align-self: start;
    width: 12.5rem;
    height: 4rem;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    background-color: #ff6201b7;
    cursor: pointer;
    transition: opacity 0.25s;
}

form button:hover {
    opacity: 0.8;
}

@media (max-width: 600px) {
    .bg-side {
        display: none;
    }

    .contact-container {
        width: 95%;
        height: 60rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .form-side {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
}