.bio-container {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.bio-content {
    flex: 1;
    margin-left: 50px;
}

.bio-profile-picture {
    margin-right: 50px;
}

.logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.bio-icon {
    width: 80px;
    /* border-radius: 50px; */
    margin-bottom: -15px;
}

.bio-icon2 {
    width: 35px;
    margin-bottom: -55px;
    margin-left: 40px;
}

.bio-title {
    font-size: 45px;
    font-weight: bold;
    width: 550px;
    margin-bottom: 30px;
    color: rgb(51, 51, 51);
    line-height: 55px;
}

.bio-description {
    color: rgb(114, 114, 114);
    width: 500px;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 350;
}

.bio-pic {
    width: 350px;
    height: 335px;
    max-width: 100%;
    object-fit:cover;
    border-radius: 50px;
    transform: rotate(4deg);
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links .linkedin {
    width: 22px;
    margin-right: 17px;
    opacity: 0.8;
    transition: opacity 0.15s;
}

.social-links .github {
    width: 30px;
    margin-right: 12px;
    opacity: 0.7;
    transition: opacity 0.15s;
}

.social-links .email {
    width: 42px;
    margin-right: 12px;
    opacity: 0.6;
    transition: opacity 0.15s;
}

.social-links .ig {
    width: 34px;
    opacity: 0.7;
    transition: opacity 0.15s;
}

.social-links .linkedin:hover, .social-links .github:hover,
.social-links .email:hover, .social-links .ig:hover {
    opacity: 1;
}
