.bio-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin: 8rem 5rem 15rem;
    /* gap: 10rem; */
}

.bio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    gap: 3rem;
}

@media (min-width: 50em) {
    .bio-content {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 50%;
        gap: 3rem;
    }
}

.bio-pic-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    position: relative;
}

.cat-tower {
    position: absolute;
    width: 9rem;
    top: -7.5rem;
    left: 0rem;
    transform: rotate(8deg);
}

.sleep {
    position: absolute;
    width: 10rem;
    top: -13rem;
    left: 0rem;
    transform: rotate(10deg);
}

.bio-title {
    font-size: 4.5rem;
    font-weight: bold;
    width: 55rem;
    line-height: 5.5rem;
    padding: 0;
    margin: 0;
}

.bio-description {
    width: 100%;
    line-height: 2.5rem;
    font-size: 1.6rem;
    font-weight: 300;
}

.bio-description p {
    padding: 0;
    margin: 0;
}

.bio-pic {
    width: 100%;
    max-width: 65%;
    height: 40rem;
    object-fit: cover;
    border-radius: 45px;
    transform: rotate(3deg);
    position: relative;
    z-index: 2;
}

.bio-pic-bg {
    width: 100%;
    max-width: 65%;
    height: 40rem;
    border-radius: 45px;
    background-color: rgb(148, 148, 148);
    position: absolute;
    transform: rotate(-2deg);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
}

.social {
    width: 2rem;
    opacity: 0.6;
    transition: opacity 0.15s;
}

.social:hover {
    opacity: 0.8;
}

.resume {
    text-decoration: none;
}

.resume-desc {
    font-size: 1.2rem;
    margin-left: 1rem;
    transition: color 0.15s;
}

.resume-desc:hover {
    color: rgb(12, 153, 132);
}

.resume-opacity {
    opacity: 0.85;
    transition: opacity 0.15s;
}

.resume-opacity:hover {
    opacity: 1;
}

@media (min-width: 50em) {
    .bio-container {
        flex-direction: row;
        margin: 8rem 5rem 15rem;
    }

    .bio-content {
        width: 50%;
    }

    .bio-pic {
        max-width: 65%;
    }

    .bio-pic-bg {
        max-width: 65%;
    }
}