footer {
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    /* border-style: solid; */
    margin-left: 100px;
}

.footer-links {
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-size: 14px;
}

.footer-links:hover {
    color: rgb(9,121,105);
}