footer {
    margin: 0 auto;
    max-width: 63.2%;
    background-color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-left: 10rem;
}

.footer-links {
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-size: 1.4rem;
}

.footer-links:hover {
    color: rgb(9, 121, 105);
}

.back-top-button {
    text-decoration: none;
    color: black;
}

.sleeping-cat {
    position: absolute;
    width: 7.5rem;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.material-symbols-outlined {
    position: absolute;
    right: 22px;
    bottom: 47px;
    opacity: 0; 
    transition: opacity 0.3s;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.back-top-button:hover .material-symbols-outlined{
    opacity: 1;
}