footer {
    margin: 0 auto;
    width: min(90%, 111rem);
    padding: 5rem;
    background-color: white;
    position: relative;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.footer-links {
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-size: 1.4rem;
}

.footer-links:hover {
    color: rgb(9, 121, 105);
}

.back-top-button {
    text-decoration: none;
    color: black;
}

.sleeping-cat {
    position: absolute;
    width: 7.5rem;
    right: 0;
    bottom: 0;
    cursor: pointer;
}