body {
    background-color: #FAFAFA;
    padding: 0;
    margin-top: 0;
    font-family: 'Heebo', sans-serif;
}

.body {
    margin: 0 auto;
    max-width: 1100px;
    background-color: white;
    padding: 50px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    font-family: 'Heebo', sans-serif;
}

p {
    font-family: 'Heebo', sans-serif;
}

a {
    font-family: 'Heebo', sans-serif;
}