.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-width: 90%; */
}

.navbar {
    position: fixed;
    top: 3vh;
    z-index: 999;
    width: 25rem;
    background-color: white;

    border-style: none;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    border-radius: 12.5rem;

    transition: box-shadow 0.15s;
}

.navbar:hover {
    box-shadow: 4px 4px 30px rgba(0,0,0,.1);
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

.navbar-list li {
    margin: 0;
    padding: 0;
}

.active {
    color: rgb(9,121,105);
    text-decoration: none;
    font-size: 1.4rem;
}

.tab {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    transition: color 0.2s;
}

.tab:hover {
    color: rgb(9, 121, 105);
}

