.about-me-container {
    display: flex;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    justify-content: space-between;
}

.work-container, .skills-container, .education-container {
    border-style:solid;
    border-width: 2px;
    border-color: #f4f4f5;
    border-radius: 20px;
    width: 42.5rem;
    /* height: 200px; */
    padding: 30px 30px 5px;
}

.work-container {
    /* height: 300px; */
    margin-bottom: 3rem;
}

.skills-container {
    /* height: 572px; */
}

.work-container p, .skills-container p, .education-container p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.work-title, .skills-title, .education-title {
    display: flex;
    align-items: center;
    color: rgb(46, 46, 46);
    margin-bottom: 4rem;
    font-size: 1.6rem;
}

.work-title-icon, .skills-title-icon, .education-title-icon {
    width: 2rem;
    margin-right: 1rem;
}

.job {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.job-icon {
    width: 4.5rem;
    border-radius: 2rem;
}

.job-content {
    flex: 1;
    margin-left: 1.2rem;
}

.job-title {
    font-weight: bold;
    font-size: 1.8rem;
    color: rgb(46, 46, 46);
    margin-bottom: 1rem;
}

.job-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-role, .job-timeline {
    color: rgb(148, 148, 148);
    font-size: 1.3rem;
}

.skill {
    display: grid;
    grid-template-columns: 1em 1fr;
    align-items: center;
    margin-bottom: 2.5rem;
}

.skill-title {
    font-size: 1.5rem;
    color: rgb(148, 148, 148);
    padding-left: 4rem;
}